body{
    background-image: url(https://i.pinimg.com/originals/cb/da/e9/cbdae91af327b72d53e5d53cf06e8e84.png);
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }
  #demo{
      color: red;
      font-family: 'Times New Roman', Times, serif;
      font-size: 35px;
  }